.tag {
  color: $gray-100;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 10px;
  margin-right: 8px;
  background-color: $green-600;
}

.card {
  padding: 20px;
  background: $gray-100;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card-text {
  color: $gray-600;
}
